#editor-previewer {
  margin-top: 26px;
  margin-bottom: 26px;
}

#container-wrapper {
  height: 420px;
}

#editor-container {
  position: relative;
  height: 100%;
  background: #465963;
  border-radius: 4px;
}

#editor-container > h2 {
  display: flex;
  align-items: center;

  height: 60px;
  padding-left: 20px;
  font-family: Ruda, sans-serif;
  font-size: 24px;
  color: #BDCAD1;
  background: #3B4C54;
  border-radius: 4px 4px 0px 0px;
}

#editor {
  width: 100%;
  height: calc(100% - 60px);
  padding: 12px 20px;

  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  color: #BDCAD1;
  border-radius: 0px 0px 4px 4px;

  background: #465963;
  border: none;
  
  overflow: auto;
  resize: none;

  position: relative;
  bottom: 8px;

  scrollbar-width: thin;
}

#preview-container {
  position: relative;
  height: 100%;
  background: #A0BAC7;
  border-radius: 4px;
}

#preview-container > h2 {
  display: flex;
  align-items: center;

  height: 60px;
  padding-left: 20px;
  font-family: Ruda, sans-serif;
  font-size: 24px;

  color: #2F4550;
  background: #8FADBD;
  border-radius: 4px 4px 0px 0px;
}

#preview {
  width: 100%;
  height: calc(100% - 60px);
  padding: 12px 20px;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #2F4550;
  
  overflow: auto;
  
  position: relative;
  bottom: 8px;
  
  scrollbar-width: thin;
}
