$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
}

// @include media-breakpoint-up(sm) {
//   html {
//     font-size: 1.2rem;
//   }
// }

// @include media-breakpoint-up(md) {
//   html {
//     font-size: 1.4rem;
//   }
// }

// @include media-breakpoint-up(lg) {
//   html {
//     font-size: 1.6rem;
//   }
// }

body {
  background-color: #5D8295;
}

#app {
  height: auto;
  @media (min-width: $lg) { height: 100vh; }
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
